.corpora {
  font-size: 11px;
  font-family: Arial;


  select {
    width: 100%;
    height: 32px;
    font-size: 14px;
  }

  .input-search {
    width: 100%;
    height: 40px;
    font-size: 14px;
    border-radius: 4px;
  }

.btn-search{
  width: 100px;
  height: 30px;
}
  .search-form {
    text-align: center;
    width: 100%;
    height: 100px;
  }

  .search-row {
    width: 100%;
    text-align: left;
  }

  .search-row.right {
    width: 100%;
    text-align: right;
  }

  table,
  td {
    border: 1px solid #000;
    text-align: left;
    padding: 5px;
  }

  .delete,
  .geo,
  .none {
    height: 22px;
    border: 0;
    padding: 2px;
    margin: 2px;
  }



  .pagination {
    display: block;
    text-align: center;

    li {
      display: inline;
      padding: 4px;
    }
  }

  a {
    cursor: pointer;
  }

  tr.none {
    background-color: #CCC;
  }

  tr.geography {
    background-color: green;

    a {
      color: #FFF;
    }
  }
}
