.corpora {
  margin: 5vh 5vw;
  font-size: 13px;
  select {
    width: 100%;
    height: 32px;
    font-size: 14px;
  }

  .filter-header{
    background-color: #eccc83;
    padding: 9px;
  }
  
  .input-search {
    width: 100%;
    border-radius: 4px;
  }

  .btn-search{
    width: 100px;
    height: 30px;
  }

  .search-form {
    border: 1px solid #8e8d8a;
    margin-bottom: 15px;
  }

  .search-row {
    width: 100%;
    text-align: left;
    display: inline-flex;
    padding: 3px;
    .checkbox{
      margin: 3px;
    }
  }

  .search-row.right {
    width: 100%;
    text-align: right;
  }

  table,
  td {
    border: 1px solid #000;
    text-align: left;
    padding: 5px;
  }

  .delete,
  .geo,
  .none {
    height: 22px;
    border: 0;
    padding: 2px;
    margin: 2px;
  }



  .pagination {
    display: block;
    text-align: center;

    li {
      display: inline;
      padding: 4px;
    }
  }

  a {
    cursor: pointer;
  }

  tr.none {
    background-color: #CCC;
  }

  tr.geography {
    background-color: green !important;
    color: #FFF;
    a {
      color: #FFF;
    }
  }
  
  .list-action{
    background-color: #7fb4e2;
    padding: .5vh .5vw;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    color: #292b2c;
    margin: .5vh;
  }

  .actions-column{
    min-width: 18vw;
  }

  .doc-list td, .doc-list th {
      border: 1px solid #ddd;
      padding: 8px;
  }

  .doc-list tr:nth-child(even){background-color: #f2f2f2;}

  .doc-list tr:hover {background-color: #ddd;}

  .doc-list th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
  }

  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
  }
  .pagination > li {
    display: inline;
  }
  .pagination > li > a,
  .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .pagination > li > a:hover,
  .pagination > li > span:hover,
  .pagination > li > a:focus,
  .pagination > li > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
  }
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
  }
  .pagination > .disabled > span,
  .pagination > .disabled > span:hover,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
  }
  .pagination-lg > li > a,
  .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
  }
  .pagination-lg > li:first-child > a,
  .pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .pagination-lg > li:last-child > a,
  .pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .pagination-sm > li > a,
  .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
  }
  .pagination-sm > li:first-child > a,
  .pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .pagination-sm > li:last-child > a,
  .pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

}
